In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [6]:
covidtotals = pd.read_csv("C:/Users/hp/Documents/DATA/covid/covidtotals.csv")
covidtotals.set_index("iso_code", inplace=True)
keyvars = ['location', 'total_cases_mill', 'total_deaths_mill','aged_65_older','diabetes_prevalence','gdp_per_capita']
covidkeys = covidtotals[keyvars]

In [7]:
covidtotals.head()

,lastdate,location,total_cases,total_deaths,total_cases_mill,total_deaths_mill,population,population_density,median_age,gdp_per_capita,aged_65_older,total_tests_thous,life_expectancy,hospital_beds_thous,diabetes_prevalence,region
iso_code,,,,,,,,,,,,,,,,
AFG,2021-07-07,Afghanistan,129021.0,5415.0,3314.321,139.102,38928341.0,54.422,18.6,1803.987,2.581,NaN,64.83,0.50,9.59,South Asia
ALB,2021-07-07,Albania,132557.0,2456.0,46061.922,853.430,2877800.0,104.871,38.0,11803.431,13.188,NaN,78.57,2.89,10.08,Eastern Europe
DZA,2021-07-07,Algeria,143032.0,3786.0,3261.770,86.338,43851043.0,17.348,29.1,13913.839,6.211,NaN,76.88,1.90,6.73,North Africa
AND,2021-07-07,Andorra,14021.0,127.0,181466.382,1643.694,77265.0,163.755,NaN,NaN,NaN,NaN,83.73,NaN,7.97,Western Europe
AGO,2021-07-07,Angola,39491.0,925.0,1201.566,28.144,32866268.0,23.890,16.8,5819.495,2.405,NaN,61.15,NaN,3.94,Central Africa

In [10]:
covidtotals.shape

(221, 16)

In [11]:
covidkeys.head()

,location,total_cases_mill,total_deaths_mill,aged_65_older,diabetes_prevalence,gdp_per_capita
iso_code,,,,,,
AFG,Afghanistan,3314.321,139.102,2.581,9.59,1803.987
ALB,Albania,46061.922,853.430,13.188,10.08,11803.431
DZA,Algeria,3261.770,86.338,6.211,6.73,13913.839
AND,Andorra,181466.382,1643.694,NaN,7.97,NaN
AGO,Angola,1201.566,28.144,2.405,3.94,5819.495

In [12]:
thirdq, firstq = covidkeys.total_cases_mill.quantile(0.75), covidkeys.total_cases_mill.quantile(0.25)
interquartilerange = 1.5*(thirdq - firstq)
extvalhigh, extvallow = interquartilerange+thirdq, firstq-interquartilerange
print(extvallow, extvalhigh, sep=' <---> ')

-91002.564625 <---> 158336.930375

In [13]:
covidtotals.loc[covidtotals.total_cases_mill>extvalhigh].T

iso_code                        AND             MNE          SYC
lastdate                 2021-07-07      2021-07-07   2021-07-07
location                    Andorra      Montenegro   Seychelles
total_cases                 14021.0        100392.0      16304.0
total_deaths                  127.0          1619.0         71.0
total_cases_mill         181466.382      159844.092    165792.15
total_deaths_mill          1643.694        2577.771      721.985
population                  77265.0        628062.0      98340.0
population_density          163.755           46.28      208.354
median_age                      NaN            39.1         36.2
gdp_per_capita                  NaN       16409.288    26382.287
aged_65_older                   NaN          14.762        8.606
total_tests_thous               NaN             NaN          NaN
life_expectancy               83.73           76.88         73.4
hospital_beds_thous             NaN           3.861          3.6
diabetes_prevalence            7.97           10.08        10.55
region               Western Europe  Eastern Europe  East Africa

In [14]:
covidtotals.mean()

C:\Users\hp\AppData\Local\Temp\ipykernel_12524\2735036804.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  covidtotals.mean()

total_cases            9.639329e+05
total_deaths           2.163098e+04
total_cases_mill       3.664937e+04
total_deaths_mill      6.831370e+02
population             3.513496e+07
population_density     4.532878e+02
median_age             3.030053e+01
gdp_per_capita         1.914131e+04
aged_65_older          8.606995e+00
total_tests_thous      5.354501e+02
life_expectancy        7.336866e+01
hospital_beds_thous    3.029871e+00
diabetes_prevalence    8.442500e+00
dtype: float64