In [20]:
import pandas as pd
import numpy as np

In [21]:
path = "C:/Users/hp/Documents/DATA/AdultIncome/adult.csv"
df = pd.read_csv(path)
print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [22]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [25]:
unique_values_dict = {}

# iterate over each column in the DataFrame
for column_name in df.columns:
    
    # extract unique values from the column
    unique_values = df[column_name].unique()
    
    # add the unique values to the dictionary
    unique_values_dict[column_name] = unique_values

# print the unique values for each column
for key, value in unique_values_dict.items():
    print(key, ":", value)

age : [25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]
workclass : ['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
fnlwgt : [226802  89814 336951 ... 129912 255835 257302]
education : ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
educational-num : [ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]
marital-status : ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
occupation : ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
relationship : ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
race : ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
gender : ['Male' 'Female']
capital-gain : [    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936  2050  1111  2228 22040  3432  6360  2009
  1639 18481  2387]
capital-loss : [   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648 2206 2352
  419 1539  880  810  974 4356 2489 1755 3683 2267 2080  155 3900 2201
 2754]
hours-per-week : [40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
native-country : ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
income : ['<=50K' '>50K']

In [26]:
unique_value_counts_dict = {}

# iterate over each column in the DataFrame
for column_name in df.columns:
    
    # count the number of unique values in the column
    unique_value_counts = df[column_name].nunique()
    
    # add the unique value count to the dictionary
    unique_value_counts_dict[column_name] = unique_value_counts

# print the unique value count for each column
for key, value in unique_value_counts_dict.items():
    print(key, ":", value)

age : 74
workclass : 9
fnlwgt : 28523
education : 16
educational-num : 16
marital-status : 7
occupation : 15
relationship : 6
race : 5
gender : 2
capital-gain : 123
capital-loss : 99
hours-per-week : 96
native-country : 42
income : 2

data https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [9]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [10]:
df.shape

(48842, 15)

In [11]:
mask = np.random.choice([True, False], size=df.shape)
df = df.where(mask, np.nan)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              24371 non-null  float64
 1   workclass        24502 non-null  object
 2   fnlwgt           24366 non-null  float64
 3   education        24262 non-null  object
 4   educational-num  24230 non-null  float64
 5   marital-status   24516 non-null  object
 6   occupation       24339 non-null  object
 7   relationship     24331 non-null  object
 8   race             24377 non-null  object
 9   gender           24373 non-null  object
 10  capital-gain     24381 non-null  float64
 11  capital-loss     24409 non-null  float64
 12  hours-per-week   24393 non-null  float64
 13  native-country   24614 non-null  object
 14  income           24449 non-null  object
dtypes: float64(6), object(9)
memory usage: 5.6+ MB

In [14]:
df.isnull().sum()

age                24471
workclass          24340
fnlwgt             24476
education          24580
educational-num    24612
marital-status     24326
occupation         24503
relationship       24511
race               24465
gender             24469
capital-gain       24461
capital-loss       24433
hours-per-week     24449
native-country     24228
income             24393
dtype: int64

# Algorithm Implementation

In [15]:
!pip install lazypredict

Requirement already satisfied: lazypredict in c:\users\hp\anaconda3\lib\site-packages (0.2.12)
Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (from lazypredict) (1.0.2)
Requirement already satisfied: lightgbm in c:\users\hp\anaconda3\lib\site-packages (from lazypredict) (3.3.4)
Requirement already satisfied: xgboost in c:\users\hp\anaconda3\lib\site-packages (from lazypredict) (1.7.3)
Requirement already satisfied: joblib in c:\users\hp\anaconda3\lib\site-packages (from lazypredict) (1.1.0)
Requirement already satisfied: click in c:\users\hp\anaconda3\lib\site-packages (from lazypredict) (8.1.3)
Requirement already satisfied: tqdm in c:\users\hp\anaconda3\lib\site-packages (from lazypredict) (4.64.0)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (from lazypredict) (1.4.2)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click->lazypredict) (0.4.5)
Requirement already satisfied: wheel in c:\users\hp\anaconda3\lib\site-packages (from lightgbm->lazypredict) (0.37.1)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.21.5)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn->lazypredict) (2.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas->lazypredict) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->lazypredict) (1.16.0)

In [16]:
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split

In [18]:
X = pd.DataFrame(df.data, columns=data.feature_names)
y = pd.Series(df.target)

AttributeError: 'DataFrame' object has no attribute 'target'

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)

print(models)