In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "C:/Users/hp/Documents/DATA/AdultIncome/adult.csv"
df = pd.read_csv(path, header=None)
print(df.head())

    0          1       2             3                4                   5   \
0  age  workclass  fnlwgt     education  educational-num      marital-status
1   25    Private  226802          11th                7       Never-married
2   38    Private   89814       HS-grad                9  Married-civ-spouse
3   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
4   44    Private  160323  Some-college               10  Married-civ-spouse

                  6             7      8       9             10            11  \
0         occupation  relationship   race  gender  capital-gain  capital-loss
1  Machine-op-inspct     Own-child  Black    Male             0             0
2    Farming-fishing       Husband  White    Male             0             0
3    Protective-serv       Husband  White    Male             0             0
4  Machine-op-inspct       Husband  Black    Male          7688             0

               12              13      14
0  hours-per-week  native-country  income
1              40   United-States   <=50K
2              50   United-States   <=50K
3              40   United-States    >50K
4              40   United-States    >50K

data https://www.kaggle.com/datasets/wenruliu/adult-income-dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       48843 non-null  object
 1   1       48843 non-null  object
 2   2       48843 non-null  object
 3   3       48843 non-null  object
 4   4       48843 non-null  object
 5   5       48843 non-null  object
 6   6       48843 non-null  object
 7   7       48843 non-null  object
 8   8       48843 non-null  object
 9   9       48843 non-null  object
 10  10      48843 non-null  object
 11  11      48843 non-null  object
 12  12      48843 non-null  object
 13  13      48843 non-null  object
 14  14      48843 non-null  object
dtypes: object(15)
memory usage: 5.6+ MB

In [4]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
dtype: int64

In [5]:
df.shape

(48843, 15)

In [6]:
mask = np.random.choice([True, False], size=df.shape)
df = df.where(mask, np.nan)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48843 entries, 0 to 48842
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       24180 non-null  object
 1   1       24394 non-null  object
 2   2       24510 non-null  object
 3   3       24730 non-null  object
 4   4       24369 non-null  object
 5   5       24407 non-null  object
 6   6       24415 non-null  object
 7   7       24370 non-null  object
 8   8       24296 non-null  object
 9   9       24433 non-null  object
 10  10      24379 non-null  object
 11  11      24276 non-null  object
 12  12      24386 non-null  object
 13  13      24446 non-null  object
 14  14      24433 non-null  object
dtypes: object(15)
memory usage: 5.6+ MB

In [8]:
df.isnull().sum()

0     24663
1     24449
2     24333
3     24113
4     24474
5     24436
6     24428
7     24473
8     24547
9     24410
10    24464
11    24567
12    24457
13    24397
14    24410
dtype: int64