In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.set_option('display.width', 80)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 20)
pd.options.display.float_format = '{:,.0f}'.format
covidtotals = pd.read_csv("data/covidtotalswithmissings.csv")
covidtotals.set_index("iso_code", inplace=True)

In [3]:
totvars = ['location','total_cases','total_deaths','total_cases_pm','total_deaths_pm']
demovars = ['population','pop_density','median_age','gdp_per_capita','hosp_beds']

In [4]:
covidtotals[demovars].isnull().sum(axis=0)

population         0
pop_density       12
median_age        24
gdp_per_capita    28
hosp_beds         46
dtype: int64

In [5]:
demovarssmisscnt = covidtotals[demovars].isnull().sum(axis=1)
demovarssmisscnt.value_counts()

0    156
1     24
2     12
3     10
4      8
dtype: int64

In [6]:
covidtotals.loc[demovarssmisscnt>3, ['location'] + demovars].head(5).T

iso_code,AIA,BES,FLK,GGY,JEY
location,Anguilla,Bonaire Sint Eustatius and Saba,Falkland Islands,Guernsey,Jersey
population,"15,002","26,221","3,483","67,052","101,073"
pop_density,NaN,NaN,NaN,NaN,NaN
median_age,NaN,NaN,NaN,NaN,NaN
gdp_per_capita,NaN,NaN,NaN,NaN,NaN
hosp_beds,NaN,NaN,NaN,NaN,NaN

In [7]:
covidtotals[totvars].isnull().sum(axis=0)

location           0
total_cases        0
total_deaths       0
total_cases_pm     1
total_deaths_pm    1
dtype: int64

In [8]:
totvarsmisscnt = covidtotals[totvars].isnull().sum(axis=1)
totvarsmisscnt.value_counts()

0    209
2      1
dtype: int64

In [9]:
covidtotals.loc[totvarsmisscnt>0].T

iso_code                HKG
lastdate         2020-05-26
location          Hong Kong
total_cases               0
total_deaths              0
total_cases_pm          NaN
total_deaths_pm         NaN
population        7,496,988
pop_density           7,040
median_age               45
gdp_per_capita       56,055
hosp_beds               NaN

In [10]:
covidtotals.total_cases_pm.fillna(covidtotals.total_cases/
  (covidtotals.population/1000000), inplace=True)
covidtotals.total_deaths_pm.fillna(covidtotals.total_deaths/
  (covidtotals.population/1000000), inplace=True)
covidtotals[totvars].isnull().sum(axis=0)

location           0
total_cases        0
total_deaths       0
total_cases_pm     0
total_deaths_pm    0
dtype: int64